

.jiage .qitiantuihuo{
    float: left;
    width: auto;
    line-height: .25rem;
    border: .02rem solid red;
    border-radius: .5rem;
    padding: .05rem;
    font-size: .2rem;
    color: red;
    /*float: left;*/
}
.yunfei{
    width: 100%;
    height: .6rem;
    /*background: red;*/
    border-bottom: .01rem solid #ccc;
    position: absolute;
    bottom:23%;
    right: 0;
}
.yunfei p{
    padding-right: .24rem;
    float: right;
    font-size: .25rem;
    line-height: .6rem;
}
.shouhuo{
    position: absolute;
    bottom: 0;
    left: 0;
    /*background: #fff;*/
    width: 100%;
    height: 1rem;
}
.shouhuo-1{
    float: right;
    /*line-height: 1.15rem;*/
}
.shouhuo-1 p{
    float: left;
    border: .01rem solid #ff8e00;
    font-size: .3rem;
    margin: .32rem .24rem 0 0;
    border-radius: 1rem;
    padding: .05rem;
}
/*身体结束*/
/*尾部*/
footer{
    width: 100%;
    height: 1rem;
    position: fixed;
    bottom:0;
    margin: auto;
    background: #e9e9e9;
    display: flex;
    border-top: .02rem solid #ccc;
}
.di{
    width: 100%;
    height: 100%;
}
.di li{
    float: left;
    width: 25%;
    height: 100%;
}
.iconfont-di{
    width: 100%;
    height: 60%;
    /*background: red;*/
    text-align: center;
}
.iconfont-di p{
    color: #ff681c;
    line-height: .685rem;
    font-size: .5rem;
}
.di li span{
    color: #000;
    line-height: .3rem;
    font-size: .3rem;
}
.iconfont-di-1{
    width: 100%;
    height: 30%;
    /*background: blue;*/
    color: #000;
    line-height: .3rem;
    font-size: .2rem;
    text-align: center;
}
